<div class="ada-hmr-controllbar-box">
    <div class="ada-hmr-controllbar-logocon">
        <svg class="ada-hmr-controllbar-logo">
            <use xlink:href="#ada-hmr-controllbar-logo"></use>
        </svg>
        <div class="ada-hmr-controllbar-eyes">
            <div class="ada-hmr-controllbar-eyes-eye"></div>
            <div class="ada-hmr-controllbar-eyes-eye"></div>
        </div>
        <div class="ada-hmr-controllbar-logo-circle"></div>
    </div>
    <div class="ada-hmr-controllbar-btns">
        <div class="ada-hmr-controllbar-btn ada-hmr-controllerbar-btn-paus">
            <svg class="ada-hmr-controllbar-icon">
                <use xlink:href="#ada-hmr-controllbar-paus"></use>
            </svg>
        </div>
        <div class="ada-hmr-controllbar-btn ada-hmr-controllerbar-btn-play">
            <svg class="ada-hmr-controllbar-icon">
                <use xlink:href="#ada-hmr-controllbar-play"></use>
            </svg>
        </div>
    </div>
</div>