<div class="ada-hmr-teminal-head">ada-pack errors</div>
<div class="ada-hmr-teminal-content">
    {{list data.info as item}}
    <div class="ada-hmr-teminal-content-item">
        <div class="ada-hmr-teminal-content-item-title">[{{ item.app }}] {{item.name}}</div>
        <div class="ada-hmr-teminal-content-item-content">
            <div class="ada-hmr-teminal-content-item-content-inner">
                <div class="ada-hmr-teminal-content-item-content-a">name</div>
                <div class="ada-hmr-teminal-content-item-content-b">{{item.info.name}}</div>
            </div>
            <div class="ada-hmr-teminal-content-item-content-inner">
                <div class="ada-hmr-teminal-content-item-content-a">message</div>
                <div class="ada-hmr-teminal-content-item-content-b">{{html item.info.message}}</div>
            </div>
            <div class="ada-hmr-teminal-content-item-content-inner">
                <div class="ada-hmr-teminal-content-item-content-a">stack</div>
                <div class="ada-hmr-teminal-content-item-content-b">
                    {{list item.info.stack as stack}}
                    <div class="ada-hmr-teminal-content-item-content-b-a">{{html stack}}</div>
                    {{/list}}
                </div>
            </div>
        </div>
    </div>
    {{/list}}
</div>