<div class="maskbg"></div>
<div class="editor">
    <div class="bg"></div>
    <div class="mask"></div>
    <div class="content">
        <div class="top">
            <div class="icon">
                {{if data.info.name}}
                <img src="{{ data.info.avatar_url }}"/>
                {{/if}}
            </div>
            <div class="name">{{ data.info.name }}</div>
        </div>
        <div class="paper" contenteditable="plaintext-only" data-find="input"></div>
        <div class="btns">
            <div class="btn" onclick="{{ reply() }}">reply</div>
        </div>
    </div>
    {{if !data.info.name}}
    <div class="login">
        <div>
            <div class="in" onclick="{{ login() }}"><icon class="icon" @id="{{ data.gitIcon }}"/></div>
            <div class="text">Login</div>
        </div>
    </div>
    {{/if}}
    <div class="close" onclick="{{ close() }}"><icon class="icon" @id="{{ data.addIcon }}"/></div>
</div>