<div class="title">Comment</div>
<div class="loader" data-find="loader"></div>
<div class="comments">
    {{if data.infos.length>0}}
    {{list data.infos as info}}
    <div class="item">
        <div class="icon"><a href="{{ info.userPage }}" target="_blank"><img src="{{ info.userIcon }}"/></a></div>
        <div class="content">
            <div class="name"><a href="{{ info.userPage }}" target="_blank">{{ info.userName }}</a></div>
            <div class="time">{{ info.time }}</div>
            <div class="message">{{html info.content}}</div>
        </div>
    </div>
    {{/list}}
    {{elseif !data.loading}}
    <div class="nodata">No Comments</div>
    {{/if}}
</div>
{{if !data.loading}}
<div class="plus" onclick="{{ open() }}"><icon class="icon" @id="{{ data.addIcon }}"/></div>
{{/if}}