.loading {
  padding: 50px 0 0 0;
  .h2 {
    height: 30px;
    background: #F6F8F8;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 150px;
  }
  .p {
    background: #F6F8F8;
    border-radius: 5px;
    height: 100px;
    margin-bottom: 10px;
  }
  .p1 {
    background: #F6F8F8;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 10px;
  }
  .p2 {
    background: #F6F8F8;
    border-radius: 5px;
    height: 50px;
    margin-bottom: 10px;
  }
}