<div class="{{ join('head',data.close&&'close',data.scroll&&'scroll') }}" data-find="header">
    <div class="arrow" onclick="{{ togglewin() }}">
        <icon class="icon" @id="{{ data.arrowIcon }}"/>
    </div>
    <div class="logo"></div>
    <div class="title">
        <div class="text">{{ data.title }}</div>
        <div class="desc">{{ data.desc }}</div>
    </div>
    <div class="npm">
        <a href="https://www.npmjs.com/package/adajs" target="_blank"><icon class="icon" @id="{{ data.npmIcon }}"/></a>
    </div>
    <div class="git">
        <a href="https://github.com/topolr/ada" target="_blank"><icon class="icon" @id="{{ data.gitIcon }}"/></a>
    </div>
    <div class="menu">
        <div class="menuicon"><icon class="icon" @id="{{ data.menuIcon }}"/></div>
        {{if data.menu.length>0}}
        <div class="menulist">
            {{list data.menu as item}}
            <a href="#{{ item.id }}" class="menuitem">{{ item.title }}</a>
            {{/list}}
        </div>
        {{/if}}
    </div>
    {{if data.loading}}
    <div class="loader"></div>
    {{/if}}
</div>
<div class="margin"></div>
{{if data.menu.length>0}}
<div class="list">
    {{list data.menu as item}}
    <a href="#{{ item.id }}" class="item">{{ item.title }}</a>
    {{if item.subs&&item.subs.length>0}}
    <div>
        {{list item.subs as sub}}
        <a href="#{{ sub.id }}" class="sub">{{ sub.title }}</a>
        {{/list}}
    </div>
    {{/if}}
    {{/list}}
</div>
{{/if}}